[Unit]
Description=OpenResty - high performance web server
Documentation=http://openresty.org/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=forking
PIDFile=/etc/openresty/tmp/run/nginx.pid
ExecStartPre=/etc/openresty/sbin/nginx -t -c /etc/openresty/nginx/nginx.conf
ExecStart=/etc/openresty/sbin/nginx -c /etc/openresty/nginx/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
